*{
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #23252C;
  color: #fff;
  align-content: center;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}
